@import '~@fortawesome/fontawesome-free/css/all.min.css';



// Region Home  //

.slick-prev {
    display: none !important;
}
.slick-next {
    display: none !important;
}
@media (min-width: 1024px) {

    #categories-slick .slick-prev {
        display: inline-block !important;
        left: 56px !important;
    }
    #categories-slick .slick-next {
        display: inline-block !important;
        right: 64px !important;
    }
}
@media (min-width: 1400px) {

    #course-slick .slick-prev {
        display: inline-block !important;
    }
    #course-slick .slick-next {
        display: inline-block !important;
    }
}

// EndRegion Home //

