@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "commom.css";
@import "buttons.css";

@import "../../node_modules/slick-carousel/slick/slick.css";
@import "slick-theme.css";

/*  Region Header Home */
.shadow-search {
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.2);
}
.title-header {
    font-size: 2.2rem;
}
@media (min-width: 1024px) {
    .title-header {
        font-size: 2.6rem;
    }
}
.box-image {
    display: flex;
    justify-content: center;
}
.box-center {
    display: flex;
    align-items: center;
}
.box-image img {
    width: 20rem;
}
@media (min-width: 1024px) {
    .box-image img {
        width: 100%;
    }
}
/*  EndRegion Header Home */

/*  Region Home */
.icon-large {
    font-size: 3rem;
}

.bg-primary {
    --bg-opacity: 1;
    background-color: rgba(28, 136, 244, var(--bg-opacity));
}

.shadow-card {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.card-image {
    height: 13rem;
}

.card-title {
    min-height: 3rem;
}

.star-icon {
    font-size: 1.1rem;
}

.h-teacher {
    min-height: 3rem;
}
.slick-slide {
    padding: 1rem 1.5rem;
}

.slick-prev {
    left: -40px !important;
}
.slick-next {
    right: 0px !important;
}


.slick-prev:before {
    content: url("/img/home/icon-left.svg");
}
.slick-next:before {
    content: url("/img/home/icon-right.svg");
}

/*  EndRegion Home */

/*  Region Footer */
.name-title {
    font-size: 2.5rem;
}
.hr-gray {
    border-color: #707070;
    border-top-width: 3px;
}
.subtitle {
    font-size: 1.4rem;
}
/*  EndRegion Footer */

.badget-notification {
    @apply inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full;
}

.header-title {
    @apply font-semibold text-2xl mb-2 text-gray-700;
}

.course-section-title {
    @apply font-semibold text-lg text-gray-600;
}

.comment-element {
    @apply p-2 pt-6 hover:bg-gray-50;
}

.comment-content {
    @apply flex items-start;
}

.comment-title {
    @apply font-bold text-gray-700 sm:text-base text-sm cursor-pointer;
}

.comment-body {
    @apply text-gray-500 text-sm sm:block hidden pb-4;
}

.comment-autor {
    @apply text-xs flex sm:ml-10 justify-center sm:justify-start;
}