  .btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-sm {
    @apply text-sm font-medium h-8 px-4 rounded-lg;
}

.btn-primary {
    @apply bg-blue-500 text-white;
}

.btn-primary:hover {
    @apply bg-blue-600;
  }

.btn-danger {
    @apply bg-red-500 text-white;
}

.btn-danger:hover {
    @apply bg-red-600;
}

.btn-block {
    @apply block text-center w-full;
}

.subindice {
    position: relative;
}

.subindice::before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 2px;
    height: 100%;
}