.chat-application .content-area-wrapper {
  border: 1px solid #ebe9f1;
  border-radius: 0.428rem; }

.chat-application .chat-profile-sidebar {
  border-right: 1px solid #ebe9f1;
  height: inherit;
  width: 360px;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  background-color: #fff;
  transform: translateX(-110%);
  transition: all 0.3s ease, background 0s, border 0s, color 0s;
  z-index: 6; }

.chat-application .chat-profile-sidebar.show {
  transform: translateX(0);
  transition: all 0.3s ease, background 0s, border 0s, color 0s; }

.chat-application .chat-profile-sidebar .chat-profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  text-align: center; }

.chat-application .chat-profile-sidebar .chat-profile-header .avatar {
  margin-bottom: 1.25rem; }

.chat-application .chat-profile-sidebar .profile-sidebar-area {
  height: calc(100% - 200px);
  position: relative;
  padding: 0 2rem 1.5rem; }

.chat-application .close-icon {
  position: absolute;
  top: 0.85rem;
  right: 1rem;
  cursor: pointer; }

.chat-application .sidebar-close-icon svg,
.chat-application .sidebar-close-icon i,
.chat-application .close-icon svg,
.chat-application .close-icon i {
  font-size: 1.143rem;
  height: 1.143rem;
  width: 1.143rem; }

.chat-application .avatar-border img {
  border: 2px solid #fff; }

.chat-application .sidebar-content {
  background-color: #fff;
  border-right: 1px solid #ebe9f1;
  height: inherit;
  width: 360px;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  box-shadow: none; }

.chat-application .sidebar-content .sidebar-close-icon {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  font-size: 1.25rem;
  z-index: 1;
  cursor: pointer;
  visibility: hidden; }

.chat-application .sidebar-content .chat-fixed-search {
  width: 360px;
  border-bottom: 1px solid #ebe9f1;
  padding: 0 1.286rem;
  height: 65px;
  display: flex; }

.chat-application .sidebar-content .chat-fixed-search .sidebar-profile-toggle .avatar {
  display: inline-table; }

.chat-application .sidebar-content .chat-fixed-search .input-group:focus-within {
  background-color: transparent;
  box-shadow: none; }

.chat-application .sidebar-content .chat-list-title {
  color: #2563EB;
  margin: 2rem 1.286rem 0.5rem; }

.chat-application .sidebar-content .chat-user-list-wrapper {
  position: relative;
  height: calc(100% - 65px);
  width: 360px;
  border-radius: 0; }

.chat-application .sidebar-content .chat-user-list-wrapper .avatar {
  height: 42px; }

.chat-application .sidebar-content .chat-user-list-wrapper .avatar [class*='avatar-status-'] {
  right: 1px;
  bottom: 1px; }

.chat-application .sidebar-content .chat-user-list-wrapper .contact-list .chat-info {
  width: calc(100% - 46px);
  padding-right: 0; }

.chat-application .sidebar-content .chat-user-list-wrapper .no-results {
  padding: 0.786rem 1.286rem;
  display: none !important; }

.chat-application .sidebar-content .chat-user-list-wrapper .no-results.show {
  display: block !important; }

.chat-application .sidebar-content .chat-user-list-wrapper ul {
  padding-left: 0;
  margin-bottom: 0; }

.chat-application .sidebar-content .chat-user-list-wrapper li a{
  display: flex;
  padding: 0.786rem 1.286rem; }

.chat-application .sidebar-content .chat-user-list-wrapper li a .chat-info {
  margin-top: 0.3rem;
  width: calc(100% - 46px - 46px);
  padding: 0 0.75rem; }

.chat-application .sidebar-content .chat-user-list-wrapper li .chat-info .card-text,
.chat-application .sidebar-content .chat-user-list-wrapper li .chat-info p {
  color: #b9b9c3; }

.chat-application .sidebar-content .chat-user-list-wrapper li .chat-time {
  color: #b9b9c3; }

.chat-application .sidebar-content .chat-user-list-wrapper li:hover {
  cursor: pointer;
  background: #f8f8f8; }

.chat-application .sidebar-content .chat-user-list-wrapper li.active {
  background-image: linear-gradient(80deg, #2563EB, #2563EB);
  background-repeat: repeat-x; }

.chat-application .sidebar-content .chat-user-list-wrapper li.active h1,
.chat-application .sidebar-content .chat-user-list-wrapper li.active h2,
.chat-application .sidebar-content .chat-user-list-wrapper li.active h3,
.chat-application .sidebar-content .chat-user-list-wrapper li.active h4,
.chat-application .sidebar-content .chat-user-list-wrapper li.active h5,
.chat-application .sidebar-content .chat-user-list-wrapper li.active h6,
.chat-application .sidebar-content .chat-user-list-wrapper li.active .card-text,
.chat-application .sidebar-content .chat-user-list-wrapper li.active .chat-time {
  color: #fff; }

.chat-application .sidebar-content .chat-user-list-wrapper li img {
  border: 2px solid #fff; }

.chat-application .chat-app-window {
  height: 100%; }

.chat-application .chat-app-window .start-chat-area,
.chat-application .chat-app-window .user-chats {
  background-color: #f5faff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23a2b7e5' fill-opacity='0.42' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");  
  background-repeat: repeat;
  background-size: 210px; }

.chat-application .chat-app-window .start-chat-area {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.chat-application .chat-app-window .start-chat-area .start-chat-icon,
.chat-application .chat-app-window .start-chat-area .start-chat-text {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(34, 41, 47, 0.12) !important;
  color: #6e6b7b; }

.chat-application .chat-app-window .start-chat-area .start-chat-text {
  padding: 0.5rem 1rem;
  border-radius: calc(0.357rem * 4);
  cursor: pointer; }

.chat-application .chat-app-window .start-chat-area .start-chat-icon {
  border-radius: 50%;
  padding: 2rem; }

.chat-application .chat-app-window .start-chat-area .start-chat-icon svg,
.chat-application .chat-app-window .start-chat-area .start-chat-icon i {
  height: 4rem;
  width: 4rem;
  font-size: 4rem; }

.chat-application .user-profile-sidebar {
  width: 360px;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
  position: absolute;
  transform: translateX(110%);
  transition: all 0.3s ease, background 0s, border 0s, color 0s;
  z-index: 6;
  right: 0;
  bottom: 0;
  top: 0; }

.chat-application .user-profile-sidebar.show {
  transform: translateX(0%);
  transition: all 0.3s ease, background 0s, border 0s, color 0s; }

.chat-application .user-profile-sidebar .user-profile-header .header-profile-sidebar {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%; }

.chat-application .user-profile-sidebar .user-profile-header .avatar {
  margin-bottom: 1.25rem; }

.chat-application .user-profile-sidebar .user-profile-sidebar-area {
  position: relative;
  height: calc(100% - 200px);
  padding: 0 2rem 1.5rem; }

@media (max-width: 991.98px) {
  .content-right {
    width: 100%; }
  .chat-application .sidebar-content {
    transform: translateX(-110%);
    transition: all 0.3s ease-in-out;
    position: absolute;
    z-index: 5; }
  .chat-application .sidebar-content.show {
    transform: translateX(0);
    transition: all 0.3s ease; } }

@media (max-width: 767.98px) {
  .chat-application .sidebar-content .sidebar-close-icon {
    visibility: visible;
    top: 15px;
    right: 0;
    padding: 0.65rem;
    line-height: 1; }
  .chat-application .sidebar-content .chat-fixed-search {
    padding-right: 2.5rem; } }

@media (max-width: 575.98px) {
  .chat-application .sidebar {
    position: unset !important; }
  .chat-application .sidebar-content {
    width: 100%; }
  .chat-application .sidebar-content .chat-fixed-search,
  .chat-application .sidebar-content .chat-user-list-wrapper {
    width: 100%; }
  .chat-application .chat-profile-sidebar {
    width: 100%; }
  .chat-application .user-profile-sidebar {
    width: 100%; } }
